@import 'values';

.booyah-box {
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  background: #fff;
  border: 1px solid #ccc;
  border-color: $border-color;
  padding: 10px;
  margin-top: 20px;

  h2, h1 {
    margin: 10px;
  }
}

.frosty {
  background:rgba(0,0,0,.5);
  color:white;

  h1 {
  font-family: $helvetica;
  font-weight: 100;
  text-shadow:rgba(0,0,0,.75) 2px 2px;
  }

  h2 {
  font-weight: 200;
  font-family: $helvetica;
  text-shadow:rgba(0,0,0,.75) 2px 2px;
  }
}

