@import 'values';

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;

  a {
    color: white;
    font-family: $helvetica;
    font-weight: 100;
    font-size: 15px;

    b {
      font-weight: 100;
      font-size: 25px;
    }
  }
}

