$helvetica: "Helvetica Neue", Helvetica;
$font-stack: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif; 
$input-shadow: 0px 1px 8px rgba(0,0,0,.1);
$box-shadow: 1px 3px 3px 0 #d0d0d0;
$hero-shadow: 0px 3px 8px #2a2a2a;
$border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
