nav.navbar-inverse {
  box-shadow: 0px 2px 3px rgba(0,0,0,.4);
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  background:url('blackorchid.png');
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color:white;
}

