nav.navbar-inverse {
  box-shadow: 0px 2px 3px rgba(0,0,0,.4);
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  background:url('blackorchid.png');
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color:white;
}

.hero {
  background:url('hero.jpg');
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:80vh;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, nav.navbar-inverse {
  margin:0;
}

.frosty {
  background:rgba(0,0,0,.5);
  color:white;
}

.frosty h1 {
  font-family: "Helvetica Neue", helvetica;
  font-weight: 100;
  text-shadow:rgba(0,0,0,.75) 2px 2px;
}

.frosty h2 {
  font-weight: 200;
  font-family: "Helvetica Neue", helvetica;
  text-shadow:rgba(0,0,0,.75) 2px 2px;
}

.btn.btn-success {
  border-radius:0;
}

input.btn-success {
  border: none;
}

body {
  background:url('dimension.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.booyah-box {
  -moz-box-shadow: 1px 3px 3px 0 #d0d0d0;
  -webkit-box-shadow: 1px 3px 3px 0 #d0d0d0;
  box-shadow: 1px 3px 3px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 20px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.field input {
  width: 300px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.3);
  -moz-box-shadow: 0px 1px 8px rgba(0,0,0,.1); 
  -webkit-box-shadow: 0px 1px 8px rgba(0,0,0,.1); 
  box-shadow: 0px 1px 8px rgba(0,0,0,.1);
}

.clr {
  clear: both;
}

#notification.alert {
  margin-bottom:0px;
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;
}

.lesson a {
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4; 
  padding: 20px;
  margin: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .glyphicon {
  font-size: 20px;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
  padding: 8px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

